@font-face {
    font-family: 'ArnoPro';
    src: url('ArnoPro-Regular.woff2') format('woff2'),
        url('ArnoPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

